.dark-mode {
  background-color: darken($grisOscuro, 10);

  p {
    color: $blanco;
  }

  h1,
  h2,
  h3,
  h4,
  a,
  td {
    color: $gris;
  }

  .anuncio {
    background-color: $grisOscuro;
    border: 1px solid $grisOscuro;
  }

  .precio {
    color: $verde;
  }

  .iconos-caracteristicas {
    img {
      filter: invert(75%);
    }
  }

  .nosotros-text blockquote {
    color: $blanco;
  }

  .formulario {
    legend,
    label,
    p {
      color: $gris;
    }

    input:not([type="submit"]),
    textarea,
    select {
      background-color: $grisOscuro;
      border: 1px solid $grisOscuro;
      color: $blanco;
    }
  }
}
